.image-gallery {
    position: fixed;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    height: 100%;
    background: $overlay-background-color;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.close-gallery {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    right: 10px;
    @add-mixin close-button;
}

.gallery-link {
    @add-mixin nav-arrow-link;
}