$user-action-width: 30px;
$user-action-height: 40px;

.users-list-wrapper {
    position: absolute;
    top: 50%;
    border-radius: $chat-border-radius;
    height: 50%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    left: 27%;
    box-sizing: border-box;
    margin-top: 105%;
    overflow: auto;
    width: 70%;
    max-width: 300px;
    z-index: 1;
    transition: margin-top .1s;
}

.with-users-list {
    .users-list-wrapper {
        transition: margin-top .5s;
        margin-top: 0;
    }
}

.users-list {
    position: absolute;
    top: 0;
    width: 100%;

    li {
        padding: 10px 15px;
        position: relative;
        min-height: 20px;
        border-bottom: 1px solid $color-light-grey;

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.user-actions {
    position: absolute;
    display: block;
    height: $user-action-height;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.client-color {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.client-action {
    position: relative;
    display: inline-block;
    height: $user-action-height;
    cursor: pointer;
    width: $user-action-width;

    &:hover {
        text-shadow: 0 0 10px $color-semi-grey;
    }

    &:before {
        content: '';
        font-family: $font-family-FA-light;
        line-height: $user-action-height;
        text-align: center;
        font-size: 16px;
        color: $color-grey;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.start-chat {
        &:before {
            content: $fa-comments;
        }
    }

    &.mute-user {
        &:before {
            content: $fa-mute;
        }

        &.muted:before {
            color: $color-red;
        }
    }

    &.change-nick {
        &:before {
            content: $fa-user-edit;
        }
    }

    &.like-user {
        &:before {
            content: $fa-heart;
        }

        &.liked:before {
            font-family: $font-family-FA-solid;
        }
    }

    &.ban-client {
        &:before {
            content: $fa-ban;
        }

        &.blocked:before {
            font-family: $font-family-FA-solid;
        }
    }

    &.remove-user {
        &:before {
            content: $fa-trash;
        }
    }
}